@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

.my-swal-popup {
  background-color: #0f172a !important; /* Custom Dark BG */
  border-radius: 12px !important;
  padding: 20px !important;
}

.my-swal-title {
  color: #e2e8f0 !important; /* Light gray text */
  font-weight: 700 !important;
  font-size: 1.5rem !important;
}

.my-swal-text {
  color: #94a3b8 !important; /* Slate text */
  font-size: 1rem !important;
}

.my-swal-confirm {
  background-color: #dc2626 !important; /* Tailwind Red-600 */
  color: white !important;
  padding: 8px 14px !important;
  border-radius: 6px !important;
}

.my-swal-cancel {
  background-color: #1e40af !important; /* Tailwind Blue-900 */
  color: white !important;
  padding: 8px 14px !important;
  border-radius: 6px !important;
}
